/*Products Details page style */
.products-details {
  position: relative;
  width: 100%;
}
.preview_image {
  float: left;
  width: 330px;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: block;
}
.preview-small {
  display: block;
  width: 100%;
  margin-top: 10px;
  position: relative;
}
.preview-small .zoom {
  position: absolute;
  right: 25px;
  bottom: 25px;
  z-index: 1;
  font-size: 24px;
  color: #b0b0b0;
}
.thum-image {
  position: relative;
  width: 240px;
  margin: 15px auto 5px;
}
.thum-image li {
  float: left;
  width: 57px;
  height: 57px;
  padding: 5px;
  display: inline-block;
}
.thum-image li a {
  float: left;
  width: 47px;
  height: 47px;
  padding: 3px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.thum-image li a:hover {
  border-color: #f7544a;
}
.thum-image li a img {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
.thum-image .control-left,
.thum-image .control-right {
  position: absolute;
  top: 20px;
  left: -20px;
  font-size: 20px;
  color: #b0b0b0;
}
.thum-image .control-right {
  left: auto;
  right: -20px;
}
.thum-image .control-left:hover,
.thum-image .control-right:hover,
.preview-small .zoom:hover {
  color: #f7544a;
}
.products-description {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  display: block;
  margin: 15px 0 15px 360px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}
.products-description .name {
  font-weight: 400;
  margin-bottom: 15px;
}
.border {
  border-color: #e1e1e1;
}
.products-description .price {
  font-weight: 400;
  width: 100%;
  font-size: 13px;
  vertical-align: middle;
}
.products-description .price .new_price {
  font-size: 30px;
  color: #ff3636;
  font-weight: 500;
  margin-left: 30px;
}
.products-description .new_price sup {
  font-size: 18px;
}
.products-description .old_price {
  color: #666666;
  font-size: 18px;
  text-decoration: line-through;
  margin-left: 30px;
}
.products-description .old_price sup {
  font-size: 13px;
}
.wided {
  float: left;
  position: relative;
  width: 100%;
}
.products-description .qty {
  float: left;
  font-weight: 400;
  width: auto;
  font-size: 13px;
  vertical-align: middle;
}
.products-description .qty select {
  margin-left: 30px;
}
.products-description .button_group {
  float: right;
}
.leftbar {
  position: relative;
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #e1e1e1;
  overflow: hidden;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  clear: both;
}
.leftbar .title {
  font-size: 16px;
  text-transform: uppercase;
}
.special-deal {
}
.special-deal img {
  display: block;
  margin: 0 auto;
}
.special-item {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
.special-item:last-child {
  margin-bottom: 5px;
}
.special-item .product-image {
  float: left;
  width: 25%;
  text-align: center;
}
.special-item .product-info {
  float: right;
  width: 65%;
}
.special-item .price {
  color: #ff3e3e;
  font-size: 16px;
}
.rating .fa {
  margin: 1px;
}
#Reviews table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
}
#Reviews table th,
#Reviews table td {
  border-left: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  padding: 15px;
  text-align: center;
}
#Reviews table thead tr:first-child th {
  border-top: none;
}
#Reviews table td:first-child,
#Reviews table th:first-child {
  border-left: none;
}
.form-row {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  width: 100%;
}
#Reviews .input {
  width: 100%;
  padding: 10px;
}
#Reviews .lebel-abs {
  left: 20px;
  position: absolute;
  top: 15px;
}
#Reviews .button {
  float: right;
}
#Reviews .namefild,
#Reviews .emailfild {
  padding-left: 100px;
}
#Reviews .emailfild {
  padding-left: 100px;
}
#Reviews .summeryfild {
  padding-left: 160px;
}
#Reviews .textareafild {
  padding-top: 30px;
}
/* TAGS*/
.tag {
}
.tag input[type="text"] {
  position: relative;
  margin: 0 15px;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
}
.tag input[type="submit"] {
  position: relative;
  border: 1px solid #e1e1e1;
  background: #f7544a;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
}
.tag input[type="submit"]:hover {
  border: 1px solid #303030;
  background: #303030;
}
